<header><h1>Gate changes</h1></header>
<main>
  <form [formGroup]="form">
    <input class="search" placeholder="Search gate changes..." type="text" formControlName="flightSearch" (keydown)="clearInput($event)">
  </form>
</main>
<table style="margin: 0 auto">
  <caption style="font-size: 20px; font-weight: bold;">Scenario One</caption>
  <colgroup>
    <col width="10%" />
    <col width="10%" />
    <col width="15%" />
    <col width="10%" />
  </colgroup>
  <thead>
  <tr>
    <th>Current Gate</th>
    <th>Previous Gate</th>
    <th>Flight Number</th>
    <th>Direction</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let gc of gateChange$ | async" style="text-align: center">
    <td>{{gc.currentGate}}</td>
    <td>{{gc.previousGate}}</td>
    <td>{{gc.flightNumber}}</td>
    <td>{{gc.direction}}</td>
  </tr>
  </tbody>
</table>
<table style="margin: 100px auto">
  <caption style="font-size: 20px; font-weight: bold;">Scenario Two & Three</caption>
  <colgroup>
    <col width="10%" />
    <col width="10%" />
    <col width="15%" />
    <col width="10%" />
    <col width="15%" />
    <col width="15%" />
    <col width="25%" />
  </colgroup>
  <thead>
  <tr>
    <th>Current Gate</th>
    <th>Previous Gate</th>
    <th>Flight Number</th>
    <th>Direction</th>
    <th>Destination</th>
    <th>Origin</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let gc of gateChangeScenarioTwo$ | async | datePipe" style="text-align: center">
    <td>{{gc.currentGate}}</td>
    <td>{{gc.previousGate}}</td>
    <td>{{gc.flightNumber}}</td>
    <td>{{gc.direction}}</td>
    <td>{{gc.departure ? gc.departure.destination: 'N/A'}}</td>
    <td>{{gc.arrival ? gc.arrival.origin: 'N/A'}}</td>
    <td>{{gc.arrival ? (gc.arrival.arrivalTime | date : 'medium') : (gc.departure.departureTime | date : 'medium')}}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
